body{background:#f8fafc}
.card img{height:280px;object-fit:cover}

.search-btn {
  transition: 0.3s ease;
  border: 0px;
}


.search-btn:hover {
  background-color: #0a58ca !important;
  box-shadow: 0 0 15px rgba(13, 110, 253, 0.6);
  /* transform: translateY(-2px); */
    transform: scale(1.05);

}

