body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
}

.navbar {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.search-bar input {
  padding: 5px;
  width: 250px;
  border-radius: 4px;
  border: none;
}

.video-card {
  width: 300px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.video-card img {
  width: 100%;
  border-radius: 8px;
}

.video-detail {
  padding: 20px;
}
